@model WebApplication4.Models.Flat

<h2>Добавить квартиру</h2>

<form asp-action="Create">

    <div class="mb-3">

        <label>Адрес</label>

        <input asp-for="Address"
               class="form-control" />

    </div>


    <div class="mb-3">

        <label>Цена</label>

        <input asp-for="Price"
               class="form-control" />

    </div>


    <div class="mb-3">

        <label>Комнат</label>

        <input asp-for="Rooms"
               class="form-control" />

    </div>


    <button class="btn btn-success">
        Сохранить
    </button>

</form>