@model List<WebApplication4.Models.Flat>

<form method="get">

    <input name="price"
           class="form-control"
           placeholder="Цена до" />

    <button class="btn btn-primary mt-2">
        Фильтр
    </button>

</form>

<h2>Список квартир</h2>

<a class="btn btn-success"
       asp-action="Create">

    Добавить

</a>

<table class="table mt-3">

    <tr>
        <th>Адрес</th>
        <th>Цена</th>
        <th></th>
    </tr>

    @foreach (var f in Model)
    {
        <tr>

            <td>@f.Address</td>

            <td>@f.Price</td>

            <td>

                <a class="btn btn-primary"
                       asp-action="Details"
                       asp-route-id="@f.Id">

                    Подробнее

                </a>

            </td>

        </tr>
    }

</table>